<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"
               timeReference="contextBirth"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <file>log-${bySecond}.txt</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>